@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/defaultLayout.cshtml";
}

<!-- map bannar area Start  -->
<div class="map-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div id="googleMap" style="width:100%;height:433px;"></div>
                <div class="map-info-area">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- map bannar area End  -->
<!-- Page-content area start  -->
<div class="Page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="ap-Left wow fadeInLeft" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="banner-block banner-block-2">
                        <div class="sppb-addon-content">
                            <a href="about-us.html#" target="_blank"><img alt="" src="~/Content/img/iakademi.jpg" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="ap-right wow fadeInRight" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="about-us-info">
                        <h2 class="ainfo-addon-title">YAZILIM SEKTÖRÜNDE İZMİRDEKİ TEK ADRESİNİZ</h2>
                        <div class="sppb-addon-content">
                            <p>2003’ten bu yana eğitim hizmetlerine devam eden İ-Akademi’nin, 1000’i aşkın resmi ve özel kurum referansı bulunmaktadır.</p>

                            <p>Eğitim içerikleri, önceden belirlenmiş derslerden oluşabileceği gibi, kurumların talepleri doğrultusunda ihtiyaçlarına özel olarak da şekillendirilebilmektedir. İ-Akademi, hem standart hem de isteğe göre uyarlanmış eğitimlerinde, katılımcıların ihtiyaçlarını en doğru şekilde karşılamak için en güncel içerikleri uzman eğitmenler aracılığıyla aktarır.</p>

                            <p>
                                İ-Akademi; birçok proje ve danışmanlık hizmetinde teknik yetkinliklerini defalarca ispatlamış deneyimli eğitmenleri, yıllar içinde geliştirilmiş eğitim yönetimi süreçleri ve vendor’larn tavsiye ettiği standartları sağlayan eğitim kalitesi sayesinde, ihtiyaç duyulan bilgi ve saha deneyimini en etkin ve hızlı şekilde kurumunuzun değeri haline getirir.
                            </p>
                            <p>
                                Kurumsal eğitim talepleriniz için bizimle iletişime geçebilirsiniz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="skrill-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="sppb-section-title">
                    <h2 class="sppb-title-heading">ADRES</h2>
                    <p class="sppb-title-subheading">
                        Alsancak Mahallesi, Kıbrıs Şehitleri Caddesi 1450. Sokak No:12 (Halk Bankası Karşı Sokağı), 35220 Konak/İzmir
                    </p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="all-sk">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="a-skrill">
                        <div class="ask-title">
                            <h3>EĞİTİM İÇERİĞİMİZ</h3>
                        </div>
                        <div class="ask-progress-bar wow fadeInDown" data-wow-duration="400ms" data-wow-delay=".3s">
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">.Net</span>
                                <div class="sppb_meter">
                                    <div style="width:100%" data-width="95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>100%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">.Net Framework / CORE</span>
                                <div class="sppb_meter">
                                    <div style="width:100%" data-width="85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>100%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">HTML5/CSS3/JAVASCRİPT/AJAX</span>
                                <div class="sppb_meter">
                                    <div style="width:70%" data-width="70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">WEB API / WEB SERVİCE</span>
                                <div class="sppb_meter">
                                    <div style="width:92%" data-width="85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>92%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">MSSQL</span>
                                <div class="sppb_meter">
                                    <div style="width:90%" data-width="100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>90%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="sk-tab-area">
                        <div class="ask-title">
                            <h3>DENEYİMLERİNİZ</h3>
                        </div>
                        <div class="sk-tab wow fadeInDown" data-wow-duration="400ms" data-wow-delay=".6s">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="about-us.html#vision" aria-controls="vision" role="tab" data-toggle="tab"> VİZYONUMUZ</a></li>
                                <li role="presentation"><a href="about-us.html#mission" aria-controls="mission" role="tab" data-toggle="tab"> MİSYONUMUZ</a></li>
                                <li role="presentation"><a href="about-us.html#results" aria-controls="results" role="tab" data-toggle="tab"> SONUÇ</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="vision">
                                    <p>Net alanında , sıfırdan , ileri seviyeye öğrencilerimizi yetiştirip, yazılım sektöründe iyi bir pozisyon için hazırlamaktır.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="mission">
                                    <p>Net alanında , sıfırdan , ileri seviyeye öğrencilerimizi yetiştirip, yazılım sektöründe iyi bir pozisyon için hazırlamaktır.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="results">
                                    <p>Öğrencilerimizin çoğunluğu hocalarını delirterek te olsa belli bir seviyeye geliyorlar.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="sk-works-area">
                        <div class="ask-title">
                            <h3>ÇALIŞMALARIMIZ</h3>
                        </div>
                        <div class="single-sk-works wow fadeInDown" data-wow-duration="400ms" data-wow-delay=".9s">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="about-us.html#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                NERDEYİZ
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            En baba e-ticaret siteleriyle yarışabilecek , Yönetim paneli dahil , tam kapsamlı proje yazıldı.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="about-us.html#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                BİZ KİMİZ
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            İZMİRDE TEKİZ
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="about-us.html#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                BUNU NEDEN YAPIYORUZ
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            Yazılım sektörüne çalışan yetiştirmek.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="sppb-section-title">
                    <h2 class="sppb-title-heading">EKİBİMİZ</h2>
                    <p class="sppb-title-subheading">Branşında uzman ekibimiz</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay=".3s">
                        <div class="team-thumb">
                            <img src="~/Content//team/img/1.jpg" alt="">
                        </div>
                        <h3>Burak BüyükDağdaş <br> <span>Yazılımcı</span></h3>
                        <div class="st-ditele">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
                            <div class="all-social-icons">
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Facebook" class="black-tooltip"><i class="fa fa-facebook"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Twitter" class="black-tooltip"><i class="fa fa-twitter"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Google-plus" class="black-tooltip"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay=".6s">
                        <div class="team-thumb">
                            <img src="/Content/img/team/2.jpg" alt="">
                        </div>
                        <h3>Alexander Samokhin<br> <span>Creative developer</span></h3>
                        <div class="st-ditele">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
                            <div class="all-social-icons">
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Facebook" class="black-tooltip"><i class="fa fa-facebook"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Twitter" class="black-tooltip"><i class="fa fa-twitter"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Google-plus" class="black-tooltip"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay=".9s">
                        <div class="team-thumb">
                            <img src="/Content/img/team/3.jpg" alt="">
                        </div>
                        <h3>Jomelle Chuan <br> <span>CEO / founder</span></h3>
                        <div class="st-ditele">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
                            <div class="all-social-icons">
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Facebook" class="black-tooltip"><i class="fa fa-facebook"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Twitter" class="black-tooltip"><i class="fa fa-twitter"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Google-plus" class="black-tooltip"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay="1.2s">
                        <div class="team-thumb">
                            <img src="/Content/img/team/4.jpg" alt="">
                        </div>
                        <h3>Nirob khan <br> <span>Lead designer</span></h3>
                        <div class="st-ditele">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
                            <div class="all-social-icons">
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Facebook" class="black-tooltip"><i class="fa fa-facebook"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Twitter" class="black-tooltip"><i class="fa fa-twitter"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Google-plus" class="black-tooltip"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- Page-content area End  -->
